body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lucida Sans';
  background: linear-gradient(#0e373064, #86a37e );
  color: darkblue;
}
.machine {
  display: grid;
  border: 15px solid rgb(189, 45, 45);
  border-radius: 10px;
  width: 326px;
}

.slot-machine {
  flex: 1;
  border: 10px solid rgba(220, 50, 50, 0.9);
  height: fit-content;
}

.line {
  flex: 1;
  display: flex;
  width: 100%;
  border: 2px solid lightgray;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: azure;
}

.line2 {
  border: 5px solid blue;
  border-left: 3px solid blue;
  border-right:3px solid blue;
  background-color: rgba(179, 229, 159, 0.575);
}

.reel {
  width: 100%;
  height: 60px;
  border: 2px solid grey;
  margin: 1px;
  font-size: 44px;
  text-align: center;
}

.jugar {
  flex: 1;
  display: flex;
  border: 10px solid rgba(220, 50, 50, 0.9);
}

#apuesta {
  border: 5px solid goldenrod;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: gold;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-indent: -7px;
  /*align-content: center;*/
}

#ap-botones {
  flex: 1;
  display: flex;
}

.boton-ap {
  width: 100%;
  text-align: center;
  padding-left: 0;
}

#cont-boton {
  width: 100%;
  border: 5px solid goldenrod;
  background-color: gold;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  align-content: center;
}

#spin-button {
  flex: 1;
  border: 5px solid goldenrod; 
  background-color: rgb(155, 234, 141);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(5, 95, 11);
}

.saldos {
  flex: 1; 
  display: flex;
  border: 10px solid rgba(220, 50, 50, 0.9);
}

.labels {
  width: 100%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 5px solid goldenrod;
  border-radius: 5px;
  background-color: gold;
  height: 40px;
}

.results {
  flex: 1;
  height: 80px;
  display: grid;
  border: 10px solid rgba(220, 50, 50, 0.9);
  text-align: center;
  background-color:rgb(184, 238, 184);
}
#result {
  width: 100%;
  margin-top: 7px;
  font-family: 'Lucida Grande';
  font-size: x-large;
  font-weight: bolder;
  font-style: oblique;
  color: red;
}

#cargar-saldo {
  display: "none";
}