body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lucida Sans';
  /*background-color: lightcyan;*/
  background: linear-gradient(#0e373064, #86a37e );
  color: darkblue;
}
.machine {
  display: grid;
  border: 15px solid rgb(189, 45, 45);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.slot-machine {
  display: grid;
  border: 10px solid rgba(220, 50, 50, 0.9);
  width: fit-content;
  height: fit-content;
}

.line {
  display: flex;
  border: 2px solid lightgray;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: azure;
}

.line2 {
  border: 5px solid blue;
  border-left: none;
  border-right: none;
  background-color: rgba(179, 229, 159, 0.575);
}

.reel {
  width: 102px;
  height: 60px;
  border: 2px solid grey;
  margin: 1px;
  /* overflow: hidden;
  display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 44px;
}

.jugar {
  display: flex;
  border: 10px solid rgba(220, 50, 50, 0.9);
}

#apuesta {
  border: 5px solid goldenrod;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: gold;
  width: 126px;
  text-align: center;
  align-content: center;
}

.boton-ap {
  width: 26px;
  text-align: left;
  padding-left: 0;
}

#cont-boton {
  flex: 1;
  width: 100%;
  border: 5px solid goldenrod;
  background-color: gold;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  align-content: center;
}

#spin-button {
  flex: 1;
  border: 5px solid goldenrod; 
  background-color: rgb(155, 234, 141);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(5, 95, 11);
}

.saldos {
  width: 321px;
  border: 10px solid rgba(220, 50, 50, 0.9);
  display: flex;
}
.labels {
  flex: 1; 
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 5px solid goldenrod;
  border-radius: 5px;
  background-color: gold;
  height: 40px;
}

.results {
  width: 321px;
  height: 80px;
  display: grid;
  border: 10px solid rgba(189, 45, 45, 0.872);
  text-align: center;
  background-color:rgb(184, 238, 184);
}
#result {
  margin-top: 7px;
  font-family: 'Lucida Grande';
  font-size: x-large;
  font-weight: bolder;
  font-style: oblique;
  color: red;
}